<html>
    <head>
        <% include partials/nav.ejs %>      
        <script src="/script.js"></script>  
    </head>
    <body>
        <div class="container">
        <form id = "mainForm">
                <div class="form-group">
                    <input type="text" class="form-control" id="searchSite" placeholder="Enter site name to search...">
                    <br>
                    <button type="submit" class="btn btn-primary" name="add">Add New</button>                    
                </div>
                <hr>
                <% console.log(results1)
                     jumboID = 0 %>
                <% results1.forEach(function( eachResult){ %>
                    <div class="jumbotron" id=<%= jumboID %></div>
                        <label for="SiteName">Site Name</label>
                        <input type="text" class="form-control" name="site_name" value=<%= eachResult.S_name %>>
                        <div class="form-group">
                            <label for="inputAddress">Site Address</label>
                            <input type="text" class="form-control" name="site_address" id="inputAddress" value=<%= eachResult.S_address %>>
                        </div>
                        <div class="form-group">
                            <label for="employername">Employer Name</label>
                            <select class="form-control"name="employer_name"id="employername">
                                <% empResults.forEach(function( eachEmpResult){ %>
                                    <% if(eachEmpResult.E_name===eachResult.FK_E_Name){ %>
                                        <option value=<%= eachEmpResult.E_name %> selected><%= eachEmpResult.E_name %></option>
                                    <% } else {%>
                                        <option value=<%= eachEmpResult.E_name %>><%= eachEmpResult.E_name %></option>
                                    <% } %>
                                <% }) %>
                                <option value="addNewEmp">Add New Employer...</option>    
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary" name="update">Update  </button>   <button type="submit" class="btn btn-primary" name="delete">Delete</button>
                    </div>
                    <% jumboID = jumboID + 1 %>
                <% }) %>  
        </form>
    </div>
    </body>
</html>